<!DOCTYPE html>
<html lang="en" xmlns: th="http://www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Data Processing</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <style>
        .inputwidth{
            width: 150px;
            display: inline-block;
        }
        .lbl {
            display: inline-block;
        }

    </style>
    <script>
        $(document).ready(function(){

            $('h1[name=inputNum]').css({"color":"red"});

        });

        function empty() {
            var x = document.getElementById("jobId").value;
            if (x == "" || isNaN(x)) {
                alert("Enter A Number for job ID");
                console.log("function fired");
                return false;
            }
        }
    </script>
</head>
<body>

<h3>Welcome :
    <span th:utext="${#request.userPrincipal.name}"></span>
</h3>

<div align="center">
    <h1>Search a Job For Review</h1>
    <br>
    <form  method='GET' action="/inputTasks/getalltasks">
        <div>
            <h3 class="lbl">Job ID:</h3> <input class="form-control inputwidth" id="jobId" name="jobId" type="text" >
            <input class="btn btn-primary inputwidth" type="submit" value="Get Job History" onclick="return empty()">
        </div>
    </form>


    <br>
    <br>
    <table class="table table-striped">

        <th:block th:if="${isempty == false}">
            <tr >
                <th  th:style="|width: auto;padding-left:10px; padding-bottom:5px|">Job ID</th>
                <th >workflow ID</th>
                <th>User Name</th>
                <th>Task Number</th>
                <th>Task Description</th>
                <th>Records Input</th>
                <th>Records Output</th>
                <th>Records Dropped</th>
                <th>Time Taken</th>
                <th>Time Recorded</th>
                <th  th:style="|width: auto;padding-right:10px|">Edit</th>

            </tr>
        </th:block>

        <h2 th:text="${message}"></h2>

        <tr  th:each="taskinput : ${inputtasks}">
            <div  >

                <form method="POST" action="/job/updateJob/jobId" th:action="@{'/job/updateJob/'+${taskinput.getJobId()}}">
                <td  th:style="|padding-left:10px|" th:text="${taskinput.getJobId()}"/></td>
                <td  th:text="${taskinput.getWorkflowId()}"/></td>
                <td    th:text="${taskinput.getUserId().getUserName()}"/></td>
                <td  th:text="${taskinput.getTaskNum()}" /></td>
                <td   th:text="${taskinput.getDescription()}" /></td>
                <td  th:text="${taskinput.getRecordsIn()}" /></td>
                <td   th:text="${taskinput.getRecordsOut()}" /></td>
                <td th:text="${taskinput.getRecordsDropped()}"/></td>
                <td  th:text="${taskinput.getTimeTaken()}" /></td>
                <td th:text="${taskinput.getTimeRecorded()}" readonly/></td>
                <td><input type="submit" class="btn btn-primary" value ="Update"></td></form>
            </div>
        </tr>
    </table>
</div>
</body>
</html>