<!--<%@ page language="java" contentType="text/html; charset=ISO-8859-1"
         pageEncoding="ISO-8859-1"%>
<%@ taglib uri="http://www.springframework.org/tags" prefix="spring"%>
<%@ taglib uri="http://www.springframework.org/tags/form" prefix="form"%>-->

<!DOCTYPE html >
<html lang="en" xmlns: th="http://www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Task Form</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <script>
        function lettersOnly(input) {
            var regex = /[^a-z]/gi;
            input.value = input.value.replace(regex, "");
        }
    </script>
</head>
<body>
<th:block th:include="user/_menu"></th:block>

<h3>Welcome :
    <span th:utext="${#request.userPrincipal.name}"></span>
</h3>

<div style="text-align: center">
    <h1 style="text-align: center">Add New User</h1><br><br>


    <form method="POST" action="/addUser" th:action="@{/addUser}">

        <table align="center" style="margin: 0px auto;">
            <tr>
                <td>UserName:</td>
                <td><input type="text"  name="user_name" th:value="${user_name}" ></td>
            </tr>

            <tr>
                <td colspan="8">&nbsp;</td>
            </tr>

            <tr>
                <td>First Name:</td>
                <td><input  type="text" id="f_name" name="acronym" th:value="${f_name}" ></td>
            </tr>

            <tr>
                <td colspan="8">&nbsp;</td>
            </tr>

            <tr>
                <td>Last Name</td>
                <td><input type="text" id="l_name"  name="t_desc" th:value="${l_name}" ></td>
            </tr>

            <tr>
                <td colspan="8">&nbsp;</td>
            </tr>

            <tr>
                <td>User ID</td>
                <!-- TODO make USER ID auto increment with count query-->
                <td><input type="text" name="user_id"  th:value="${user_id}">
            </tr>

            <tr>
                <td colspan="8">&nbsp;</td>
            </tr>



        </table><br>

        <button type="submit" class="btn btn-primary">Save</button>
        <!--<input type="hidden" name="taskId" th:value="${taskId}">-->
    </form>
</div>
</body>
</html>