<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<!-- Include _menu.html -->
<th:block th:include="user/_menu"></th:block>
<div align="left" style="padding-left: 100px" class="jumbotron">
    <h1>Login</h1>

    <!-- /login?error=true -->
    <div th:if="${#request.getParameter('error') == 'true'}"
         style="color:red;margin:10px 0px;">
        Login Failed!!!<br/>
        Reason :
        <span th:if="${#session!= null and #session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION') != null}"
              th:utext="${#session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION').message}">
                Static summary
         </span>

    </div>

    <h3>Enter user name and password:</h3>
    <form name='f' th:action="@{/j_spring_security_check}" method='POST'>
        <div class="form-group">
            <label for="usr">Name:</label>
            <input style="width: 250px" type="text" name="username" class="form-control" id="usr">
        </div>
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input style="width: 250px" type="password" name="password" class="form-control" id="pwd">

        </div>
        <div class="checkbox">
            <label><input type="checkbox"> Remember me</label>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>

    </form>
</div>
<br>
</body>
</html>