<!DOCTYPE html>
<html lang="en" xmlns: th="http://www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src ="https://cdnjs.cloudflare.com/ajax/libs/jquery-autocomplete/1.0.7/jquery.auto-complete.js"></script>
    <script src ="https://cdnjs.cloudflare.com/ajax/libs/jquery-autocomplete/1.0.7/jquery.auto-complete.min.css"></script>

    <script>
        $(document).ready(function() {
            var d = new Date();
            var t = d.getHours() + ":" + d.getMinutes();
            jQuery('#timenow').val(t);
            jQuery('#timestamp').text(d);
        });

        $('#task_id').autocomplete({
            serviceUrl: 'availableTaskAjax',
            paramName: "acronym",

            delimiter: ",",

            transformResult: function(response) {
                console.log(response);
                return {
                    suggestions: $.map($.parseJSON(response), function(list) {
                        return { value: list.name, data: list.id };
                    })
                };
            }
        });


    </script>
    <style>
        .container {
            justify-content: flex-start | flex-end | center | space-between | space-around | space-evenly;
        }
        input{
            margin: 5px;
        }
        td{
            margin: 5px;
        }
        .btnwidth
        {
            width: 102px !important;
        }
    </style>
</head>
<body>
<br>
<p id="timestamp" style="position: relative; left: 50px"></p>
<h1 style="text-align: center">Please Input A Task</h1><br>
<hr>

<!--This form calls the POST method that is mapped to "/inputTasks/add" on the InputTaskController -->
<form  class="container" method="POST" action="/inputTasks/add" th:action="@{/inputTasks/add}">


    <div> <h3>Workflow ID: <span th:text="${wfId}"></span></h3></div>
    <table align="center">
        <tr>
            <td>Job ID</td>
            <td>Workflow ID</td>
            <td>Task ID</td>
            <td>Time Taken</td>
            <td>Records Input</td>
            <td>Records Output</td>
            <td>Records Dropped</td>
            <td>Notes</td>

            <!--<td>Current Time</td>-->
        </tr>

        <tr >
            <!--<td><input type="text" name="job_id"  size="10"  th:value="${workflow.job.getJobId()}"></td>-->
            <td><input type="text" name="job_id"  size="10"    th:value="${jobId}"></td>
            <td><input type="text" name="workflow"  size="10"  th:value="${wfId}"></td>
            <td><input type="text" name="task_id" size="10" ></td>
            <td><input type="text" name="time_taken" size="10" ></td>
            <td><input type="text" name="records_input" size="10"  ></td>
            <td><input type="text" name="records_output" size="10"  ></td>
            <td><input type="text" name="records_dropped" size="10" ></td>
            <td><input type="text" name="notes" size="10" ></td>


        </tr>

        <!--TODO when the New Work flow of Finish buttons are pressed with empty fields an error occurs
        This should be fixed to allow those buttons to be pressed. Right now they are tied to
        inputting tasks. They should operate separately-->
        <td><input type="submit" class="btn btn-success" name="submit" value= "Submit" ></td>
        <td rowspan="2">&nbsp;</td>


        </tr>
    </table>

</form>

<table align="right">
    <tr>

        <td colspan="2"><form   method='POST'  th:action="@{/createWorkflow}"><input type="hidden" name="jobId" th:value="${jobId}"> <input type="hidden" name="wfId"  th:value="${wfId+1}"> <input  type="submit" class="btn btn-success btnwidth" value="New Workflow"></form></td>
        <td colspan="2"><form   method='GET'  th:action="@{/jobs/findjob}"><input type="submit" class="btn btn-success btnwidth" value="Finish" ></form></td>

    </tr>

</table>

</body>
</html>