<!DOCTYPE html>
<html lang="en" xmlns: th="http://www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>items</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <script>
        $(document).ready(function(){
            $('#textbox').focus();
        });
        function empty() {
            var x = document.getElementById("textbox").value;
            if (x == "" || isNaN(x)) {
                alert("Enter A Number for job ID");
                console.log("function fired");
                return false;
            };
        }
    </script>

</head>

<body>


<br>
<br>
<div align="center">
    <h1>Please Create WorkflowID:</h1>
    <br>
    <br>
    <div >
        <form  method='GET' action="/workflows/displayworkflow" th:action="@{/workflows/displayworkflow}">
            <h3 style="display: inline;">Workflow ID: </h3>

            <input id="workflow" name="workflow"  type="text"  />
            <h3 style="display: inline;">Jod ID: </h3>
            <input id="job" name="job"  type="text" />

            <input type="submit" class="btn btn-success" onClick= "return empty()" value="find a workflow">
        </form>
    </div>

</div>
<!--<div type="text"  th:value="${workflow.job_id }">></div>-->


</body>
</html>