<!--<%@ page language="java" contentType="text/html; charset=ISO-8859-1"
         pageEncoding="ISO-8859-1"%>
<%@ taglib uri="http://www.springframework.org/tags" prefix="spring"%>
<%@ taglib uri="http://www.springframework.org/tags/form" prefix="form"%>-->
<!-- TODO: Merge TaskUpdate and TaskAddNew files into one file -->
<!DOCTYPE html >
<html lang="en" xmlns: th="http://www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
        <meta charset="UTF-8">
        <title>Task Form</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script>
            $(document).ready(function () {
                $('#acronym').focus().select();
            });
            function lettersOnly(input) {
                var regex = /[^a-zA-Z ]+/;
                input.value = input.value.replace(regex, "");
            }
        </script>
    <style>
        td{
            text-align: left;
        }
    </style>
</head>
<body>
<th:block th:include="user/_menu"></th:block>
<h3 style="padding-left: 50px">Welcome :
    <span th:utext="${#request.userPrincipal.name}"></span>
</h3>
<div style="text-align: center">
    <h1 style="text-align: center">Update Task</h1><br><br>
  <form method="POST"  th:action="@{'/task/updateTaskPost/' + ${taskId} }" >

        <table align="center" style="margin: 0px auto;">
            <tr>
                <td>TaskID:</td>
                <td><input type="text"  name="taskId" th:value="${taskId}" readonly/></td>
            </tr>
            <tr>
                <td colspan="8">&nbsp;</td>
            </tr>
            <tr>
                <td>Acronym:</td>
                <td><input  type="text" id="acronym" name="acronym" th:value="${acronym}" required></td>
            </tr>
            <tr>
                <td colspan="8">&nbsp;</td>
            </tr>
            <tr>
                <td>Description:</td>
                <td><input type="text" id="t_desc"  name="t_desc" th:value="${t_desc}"  required></td>
            </tr>
            <tr>
                <td colspan="8">&nbsp;</td>
            </tr>
            <tr>
                <td>Is Billable:</td>
                <td><input type="checkbox" name="is_billable" th:checked="${isbillable}"></td>
            </tr>
            <tr>
                <td colspan="8">&nbsp;</td>
            </tr>
            <tr>
                <td>Price:</td>
                <td><input type= "number" id="price" name="price" th:value="${price}" required></td>
            </tr>
        </table><br>
        <button type="submit" class="btn btn-primary">Save</button>
        <!--<input type="hidden" name="taskId" th:value="${taskId}">-->
    </form>
</div>
</body>
</html>